html.cafet{
    --hue:30;
    --bg-color:hsla(var(--hue), 51%, 21%, 1);
    --text-color:hsla(var(--hue), 0%, 90%, 1);
    --controls-bg-color:hsl(var(--hue), 37%, 55%);
    --button-secondary:hsl(var(--hue), 86%, 50%);
    --press-button:hsl(var(--hue), 100%, 70%);     
}


.cafet #themes button:nth-child(4){
    background-color: var(--press-button); 
    box-shadow: 1px 1px 1px 1px black, /* Sombra preta */
        0 0 10px rgba(0, 0, 0, 0.5), /* Sombra verde */
        inset 0 0 10px rgba(0, 0, 0, 0.5), /* Sombra interna preta */
        inset 0 0 10px var(--press-button); /* Sombra interna verde */
}

