:root{
    --hue:194;
    --bg-color:hsl(var(--hue),0%,100%,1);
    --text-color:hsla(var(--hue),6%, 21%, 1);
    --controls-bg-color:hsla(var(--hue), 9%, 89%, 1);
}

/*
html.forest{}

html.rain{}

html.cafe{}

html.fireplace{}
*/

body{
    display: grid;
    place-content: center;
    height: 100vh;
}


main{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: var(--bg-color);
}

main span{
    font-size: 12rem;
    position: block;
    color: var(--text-color);

}

#controls{
    width: 100%;
    display: flex;
    gap: 1rem;
}

#controls button{
    background: none;
    gap: 4rem;
    font-size: 7rem;
    color: var(--text-color);
}



#themes {
    position: absolute;
    display: flex;
    top: 5%;
    width: 80%;
    justify-content: space-between;
    gap: 1rem;

}

#themes button {
  width: calc(50% - 0.5rem);
  background-color: var(--controls-bg-color); 
  padding: 1.5rem;
  border-radius: 2.4rem;
}
    
#themes button img {
    width: 100%;
    background-color: var(--controls-bg-color);
    background: none;
  }
